.terminal {    
    background-color: black;    
    box-shadow: none;    
    color: #FFFFFF;    
    overflow: auto;    
    width: 100%;    
    position:absolute;
    top:50px;
    bottom:0px;
}    

.terminal input {    
    background-color: black;
    border: medium none;
    color: #FFFFFF;
    width: 80%;
}

div.cmdResultContainer {
    padding: 5px 5px 10px 20px;
}

#shellInput {
    font-size: 12px;
}

body {
    font-size: 12px;
}

.table-results {
    width:80%;
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: white;
  shape-rendering: crispEdges;
}

svg text {
    stroke: white;
    fill:white;
    stroke-width:0.5;
}

svg .axis-label {
    text-anchor: end;
    stroke: green;
}


.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

.graph-container {
    background-color:white;
    text-align: center;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.search-graph-ops {
    float: right;
    color: black;
    padding: 5px 20px 0px 0px; 
    text-align: left;
    position:absolute;
}